@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.pauseOnHover:hover {
    .content {
        animation-play-state: paused;
    }
}

.marquee{
    display: flex;
    overflow: hidden;
    position: relative;
    .content {
        animation: marquee 7s linear infinite;
        white-space: nowrap;
        animation-duration: 7s;
    }
    .overlay {
        position: absolute;
        top: 0;
        height: 100%;
    }
    .leftOverlay {
        left: 0;
    }
    .rightOverlay {
        right: 0;
    }
}